body {
    background-color: #bd4e4e;
    font-family: 'Lato', sans-serif;
}

::selection {
    background-color: #f2caca;
    color: #bd4e4e;
}

#pomodoro-heading {
    color: #f2caca;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: 700;
}

#pomodoro-timer {
    background-color: #a14343;
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 50%;
    margin-top: 20px;
}

#timer-modes-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 140px;
    background: transparent;
    border-radius: 50px;
    height: 40px;
    width: 130px;
}

#pomodoro-timer-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

#pomodoro-timer-mode-img {
    height: 80%;
    cursor: pointer;
    color: #445b42;
}

#short-break-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

#short-break-mode svg {
    height: 80%;
    cursor: pointer;
    color: #445b42;
}

#long-break-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

#long-break-mode svg {
    height: 80%;
    opacity: 100%;
    cursor: pointer;
    color: #445b42;
}

#pomodoro-timer-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
}

#short-break-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
    display: none;
}

#long-break-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
    display: none;
}

#pomodoro-timer-buttons {
    position: absolute;
    margin-top: 140px;
    width: 115px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#pomodoro-timer-start {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#pomodoro-timer-start svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#pomodoro-timer-pause {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#pomodoro-timer-pause svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#pomodoro-timer-reset {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#pomodoro-timer-reset svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#kanban-container {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#pending-tasks-container,
#in-progress-tasks-container,
#completed-tasks-container {
    width: 30%;
    height: 100%;
    background: #a14343;
    border-radius: 10px;
}

#pending-tasks-heading, 
#in-progress-tasks-heading,
#completed-tasks-heading {
    color: #f2caca;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
    margin-left: 20px;
}

.task-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 266px;
    width: 324px;
    overflow-y: auto;
}

.task-card {
    background: #91b98e;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    width: 90%;
    cursor: grab;
}

.task-card-heading {
    display: flex;
    justify-content: space-between;
}

.task-card-title {
    font-size: 18px;
    font-weight: 700;
}

.task-card-delete-button {
    background: #d64646;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.task-card-delete-button svg {
    height: 100%;
    color: #ffffff;
}

.task-card-description {
    font-style: italic;
}

.task-card-footer {
    display: flex;
    justify-content: space-between;
}

.task-card-category {
    background: #753073;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.task-card-category p{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.task-date-time {
    font-size: 12px;
    font-weight: 700;

}

#add-task-button {
    background: #f2caca;
    border: none;
    border-radius: 20px;
    height: 64px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

#add-task-button svg {
    height: 40%;
    color: #bd4e4e;
}

#add-task-button p {
    margin: 0;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 800;
    color: #bd4e4e;
}