body {
    background-color: #bd4e4e;
    font-family: 'Lato', sans-serif;
}

::selection {
    background-color: #f2caca;
    color: #bd4e4e;
}

#pomodoro-heading {
    color: #f2caca;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: 700;
}

#pomodoro-timer {
    background-color: #a14343;
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 50%;
    margin-top: 20px;
}

#timer-modes-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 140px;
    background: transparent;
    border-radius: 50px;
    height: 40px;
    width: 130px;
}

#pomodoro-timer-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#pomodoro-timer-mode-img {
    height: 80%;
    cursor: pointer;
    color: #445b42;
}

#short-break-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#short-break-mode svg {
    height: 80%;
    cursor: pointer;
    color: #445b42;
}

#long-break-mode {
    background: #91b98e;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #f2caca;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

#long-break-mode svg {
    height: 80%;
    opacity: 100%;
    cursor: pointer;
    color: #445b42;
}

#pomodoro-timer-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
}

#short-break-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
    display: none;
}

#long-break-display {
    font-size: 60px;
    color: #f2caca;
    font-weight: 800;
    position: absolute;
    display: none;
}

#pomodoro-timer-buttons {
    position: absolute;
    margin-top: 140px;
    width: 115px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#pomodoro-timer-start {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#pomodoro-timer-start svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#pomodoro-timer-pause {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#pomodoro-timer-pause svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#pomodoro-timer-reset {
    position: absolute;
    background: #bd4e4e;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#pomodoro-timer-reset svg {
    height: 80%;
    cursor: pointer;
    color: #f2caca;
}

#kanban-container {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#pending-tasks-container,
#in-progress-tasks-container,
#completed-tasks-container {
    width: 30%;
    height: 100%;
    background: #a14343;
    border-radius: 10px;
}

#pending-tasks-heading, 
#in-progress-tasks-heading,
#completed-tasks-heading {
    color: #f2caca;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
    margin-left: 20px;
}

.task-body {
    padding: 20px;
    display: flex;
    height: 266px;
    width: 324px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#completed-tasks-body {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #a14343;
}

.task-card {
    background: #dd6666;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 74px;
    max-height: 120px;
    width: 90%;
    cursor: grab;
    border: 4px solid #bd4e4e;
    color: #ffffff;
}

.task-card-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.task-card-title-and-category {
    display: flex;
    gap: 10px;
}

.task-card-title {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.task-card-delete-button {
    background: #d64646;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.7s;
}

.task-card-delete-button:hover {
    background: #ee5d5d;
    box-shadow: #ff8383 0px 0px 8px;
    transition: 0.3s;
}

.task-card-delete-button svg {
    height: 100%;
    color: #ffffff;
}

.task-card-body {
    margin-bottom: 15px;
}

.task-card-description {
    font-style: italic;
}

.task-card-footer {
    display: flex;
    justify-content: space-between;
}

.task-card-category {
    border-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    height: 20px;
}

.task-card-category p{
    font-weight: 500;
    color: white;
    margin: 0;
    font-style: italic;
    font-size: 12px;
}

.task-card-status {
    font-size: 12px;
    font-weight: 700;
}

.task-date-time {
    font-size: 12px;
    font-weight: 700;

}

#add-task-button {
    background: #f2caca;
    border: none;
    border-radius: 20px;
    height: 64px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.7s;
}

#add-task-button:hover {
    background: #e4e4e4;
    transform: scale(1.03);
    transition: 0.3s;
}

#add-task-button svg {
    height: 40%;
    color: #bd4e4e;
}

#add-task-button p {
    margin: 0;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 800;
    color: #bd4e4e;
}

#add-task-form {
    display: none;
    position: absolute;
    background: #f2caca;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

#add-task-form-heading {
    color: #bd4e4e;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

#add-task-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

#task-title {
    width: 250px;
    height: 35px;
    border: 2px solid #bd4e4e;
    border-radius: 7px;
    background: white;
    padding-left: 10px;
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

#task-title::placeholder {
    color: #cf7575;
    font-size: 14px;
    font-weight: 700;
}

#task-title:focus {
    outline: #bd4e4e;
    box-shadow: 0px 0px 9px #bd4e4ebd;
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
}

#task-description {
    min-width: 250px;
    max-width: 250px;
    min-height: 35px;
    max-height: 90px;
    border: 2px solid #bd4e4e;
    border-radius: 7px;
    background: white;
    padding-left: 10px;
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

#task-description::placeholder {
    color: #cf7575;
    font-size: 14px;
    font-weight: 700;
}

#task-description:focus {
    outline: #bd4e4e;
    box-shadow: 0px 0px 9px #bd4e4ebd;
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
}

#task-category {
    width: 200px;
    height: 35px;
    border: 2px solid #bd4e4e;
    border-radius: 7px;
    background: white;
    padding-left: 5px;
    color: #cf7575;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

#task-category:focus {
    outline: #bd4e4e;
    box-shadow: 0px 0px 9px #bd4e4ebd;
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
}

#task-category option {
    color: #bd4e4e;
    font-size: 14px;
    font-weight: 700;
}

#add-task-form-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

#add-task-form-submit {
    background: #91b98e;
    border: 3px solid #4d6d4a;
    border-radius: 15px;
    height: 54px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: #f2caca;
    transition: 0.7s;
}

#add-task-form-submit:hover {
    background: #6c9a69;
    transform: scale(1.03);
    transition: 0.3s;
}

#add-task-form-cancel {
    background: #ffffff;
    border: 3px solid #bd4e4e;
    border-radius: 15px;
    height: 54px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    color: #bd4e4e;
    font-weight: 700;
    transition: 0.7s;
}

#add-task-form-cancel:hover {
    background: #e4e4e4;
    transform: scale(0.97);
    transition: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#delete-confirmation-modal {
    display: none;
    position: absolute;
    background: #f2caca;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    animation: fadeIn 0.5s;
}

#delete-confirmation-modal-heading {
    color: #bd4e4e;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#delete-confirmation-modal-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

#delete-confirmation-modal-yes {
    background: #bd4e4e;
    border: 3px solid #a14343;
    border-radius: 15px;
    height: 54px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: #f2caca;
    transition: 0.7s;
}

#delete-confirmation-modal-yes:hover {
    background: #a14343;
    transform: scale(1.03);
    transition: 0.3s;
}

#delete-confirmation-modal-no {
    background: #ffffff;
    border: 3px solid #bd4e4e;
    border-radius: 15px;
    height: 54px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    color: #bd4e4e;
    font-weight: 700;
    transition: 0.7s;
}

#delete-confirmation-modal-no:hover {
    background: #e4e4e4;
    transform: scale(0.97);
    transition: 0.3s;
}

